header
{
    background-color: rgb(118, 117, 185);
    text-align: center;
    position: relative;
    padding: 1em 0;
}


body {
    --bs-body-bg: rgb(194, 188, 247);
    font-family: 'Merriweather', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-columns: repeat (2, 1fr);
    gap: 5px;
    text-align: center;
}

.grid-item {
    background-color: antiquewhite;
}


@media only screen and (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-columns: 1fr;
        gap: 5px;
        text-align: center;
    }
  }

  @media only screen and (min-width: 1400px) {
    video {
        width: 50%;
        height: 50%;
    }
  }